@charset "utf-8";

@font-face {
	font-family: "Garcia";
	src: url("../fonts/garcia.woff2");
}

@font-face {
	font-family: "Cormorant";
	src: url("../fonts/cormorant-medium.woff2");
}

@font-face {
	font-family: "Cormorant italic";
	src: url("../fonts/cormorant-medium-italic.woff2");
}

@font-face {
	font-family: "Tifinagh Revue";
	src: url("../fonts/tifinagh_revue1.woff2");
}

:root {
	font-family: "Garcia";
	font-size: 1.5em;
	font-weight: normal;
}

body, html, main, #load-page, #container {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
  }

a {
	text-decoration: none;
	color: black;
	outline: 0;
}

.hide {
	display: none;
}

#notice {
	height: calc(100% - 150px);
	margin: 75px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
#notice img {
	height: 25px;
	margin-left: 30px;
}
#notice p:not(#load) {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	font-family: "Cormorant";
	font-size: 1.5rem;
	text-align: center;
	pointer-events: initial;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#notice p i {
	font-family: "Cormorant italic";
}

#notice p span:not(#margin) {
	justify-content: center;
	border: 2px solid black;
	height: 25px;
	font-family: "Garcia";
	font-size: 1rem;
}
#space-bar{
	justify-content: center;
	align-items: center;
	width: 150px;
	margin-left: 30px;
}
#notice p span #content {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	border: none;
	font-size: 1.25rem;
}
#top, #down {
	width: 25px;
	line-height: 25px;
	padding: 5px;
}
#top {
	margin: 0 10px 0 30px;
}
#margin {
	margin: 0 30px 0 10px;
}
#load {
	font-family: "Cormorant";
	font-size: 1.5rem;
	color: grey;
}
#start {
	font-family: "Cormorant";
	font-size: 1.5rem;
	color: black;
	border: 2px solid black;
	border-radius: 5%;
	padding: 5px 15px 5px 15px;
}

#infos {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 40px;
	right: 40px;
}
/* #infos p {
	font-family: "Cormorant";
	font-size: 0.75rem;
} */
#infos a {
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	font-family: "Garcia";
	font-size: 1.5rem;
}


#container, #container img {
	position: absolute;
	transform-origin: center;
}

#mediatable {
	position: absolute;
	margin: 0;
	width: 75%;
	height: 90%;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* tablette paysage (max-width: 1024px ? issue with 1280x980 ~square format) = height: 75%; */
	/* tablette portrait = width: 50%; */
}
video {
	display: block;
	width: 50%;
	/* tablette portrait : 100%; */
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: both;
}
.ended {
	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-name: fadeOut;
	animation-duration: 2s;
	animation-fill-mode: both;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

#text-table {
	position: absolute;
	width: calc(100% - 200px);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	/* tablette :
	width: calc(100% - 170px);
	*/
}
#text-content {
	position: absolute;
	width: calc(100% - 200px);
	height: 100%;
	/* width: 50%;
	margin: auto; */
	/* tablette :
	width: calc(100% - 170px);
	*/
}
#text-content p {
	margin-top: 50px;
	margin-left: 50px;
	font-family: "Cormorant";
	font-size: 1.5rem;
	line-height: 2rem;
	/* text-align: left; */
	text-align: center;
	/* tablette :
	font-size: 1rem;
	line-height: 1.5rem;
	*/
	pointer-events: initial;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
#text-content p::selection, #text-content p i::selection, #text-content p span::selection {
	color: black;
	background: white;
}
#text-content p::-moz-selection, #text-content p i::-moz-selection, #text-content p span::-moz-selection {
	color: black;
	background: white;
}
#text-content p i {
	font-family: "Cormorant italic";
}
#text-content p span {
	font-family: "Tifinagh Revue";
	font-weight: lighter;
}

nav {
	position: fixed;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	pointer-events: none;
}
nav .subchapter {
	right: 0;
	width: 100%;
	height:100%;
}
nav .subchapter::before {
	content: "";
	position: absolute;
	right: 20px;
	border-top: 2px solid black;
	width: 20px;
}
nav .subchapter::after {
	content: "";
	position: absolute;
	right: 0;
	width: 20px;
	height: 100%;
	background-color: white;
	border-left: 2px solid black;
}
nav .firstsub::before {
	border-top: none;
}
nav .fullfilled::after {
	background-color: black;
}
nav .chap::before {
	width: 40px;
}
nav p {
	position: absolute;
	right: 75px;
	margin-top: -15px;
	border-bottom: 1px solid black;
	pointer-events: auto;
}

/* centrer par rapport au textes (si textes = centrés) */
#buttons-container {
	display:flex;
	justify-content: center;
	align-items: center;
	width: calc(100% - 200px);
	/* tablette :
	width: calc(100% - 170px);
	*/
}
#actions-buttons {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 400px;
	bottom: 25px;
	/* centrer par rapport à l'écran = enlever #buttons-container + réactiver code ci-dessous */
	/* left: 0; bottom: 25px; right: 0;
	margin: auto; */
}
#actions-buttons a img {
height: 25px;
}
