@charset "utf-8";

:root {
	font-family: "Cormorant";
	font-size: 1.5em;
	font-weight: normal;
}


#load-page, main {
	display: none;
}
#phone-page {
	top: 0;
	position: absolute;
	background-color: black;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#text-block {
	display: inline;
	padding: 20px 45px;
}
#phone-page p {
	color: white;
	text-align: center;
	line-height: auto;
}

@media (min-width: 280px) and (orientation: portrait) {
	#phone-page p {
		font-size: 10vw;
	}
	#phone-page img {
		height: 13vw;
	}

}

@media (min-width: 280px) and (orientation: landscape) {
	#phone-page p {
		font-size: 5vw;
	}
	#phone-page img {
		height: 7vw;
	}
}


body, html, main, #load-page, #container, #box {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
}

a {
	text-decoration: none;
	color: black;
	outline: 0;
}
p {
	font-size: 1.5rem;
	pointer-events: initial;
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}
p i {
	font-family: "Cormorant italic";
}
p::selection, p i::selection, p span::selection {
	color: black;
	background: white;
}
p::-moz-selection, p i::-moz-selection, p span::-moz-selection {
	color: black;
	background: white;
}

.opacity {
	opacity: 0.5;
}

.fade {
	-webkit-animation: fade 1s forwards;
	animation: fade 1s forwards;
}
@keyframes fade {
	from {opacity: 0.5;}
	to {opacity: 0;}
}
.fadeBis {
	-webkit-animation: fadeBis 1s forwards;
	animation: fadeBis 1s forwards;
}
@keyframes fadeBis {
	from {opacity: 1;}
	to {opacity: 0.5;}
}


#notice {
	height: calc(100% - 150px);
	margin: 75px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#notice img {
	height: 25px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#notice img:nth-child(2) {
	margin-left: 30px;
}
#notice p {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
	text-align: center;
}
#notice p span:not(#margin) {
	justify-content: center;
	border: 2px solid black;
	height: 25px;
	font-family: "Garcia";
	font-size: 1rem;
}
#space-bar{
	justify-content: center;
	align-items: center;
	width: 150px;
	margin-left: 30px;
}
#notice p span #content {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transform: rotate(-90deg);
	border: none;
	font-size: 1.25rem;
}
#top, #down {
	width: 25px;
	line-height: 25px;
	padding: 5px;
}
#top {
	margin: 0 10px 0 30px;
}
#margin {
	margin: 0 30px 0 10px;
}
#load {
}
#start {
	color: black;
	font-size: 1.5rem;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px 15px 5px 15px;
}

#infos {
	position: absolute;
	display: flex;
	flex-direction: column;
	bottom: 45px;
	right: 45px;
}
#infos a {
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	font-family: "Garcia";
	font-size: 1.5rem;
}

#white-block {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: white;
}

#box {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#intro {
	background-color: white;
	border: 2px solid black;
	border-radius: 5px;
	display: inline;
	padding: 20px 45px;
}
#intro a {
	position: relative;
	float: right;
	margin-top: -45px;
	margin-right: -70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	width: 45px;
	height: 45px;
}
#cross {
	height: 20px;
}

#intro p {
	text-align: center;
}


#container, #container img {
	position: absolute;
	transform-origin: center;
}

#mediatable {
	position: absolute;
	margin: 0;
	width: 75%;
	height: 90%;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
video {
	display: block;
	width: 50%;
	-webkit-animation-name: fadeIn;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-fill-mode: both;
}
.ended {
	-webkit-animation-name: fadeOut;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-name: fadeOut;
	animation-duration: 2s;
	animation-fill-mode: both;
}
@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes fadeOut {
	from {opacity: 1;}
	to {opacity: 0;}
}

#text-table {
	position: absolute;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
#text-content {
	position: absolute;
	height: 100%;
}
#text-content p {
	margin-top: 50px;
	margin-left: 50px;
	text-align: center;
}
#text-content p span {
	font-family: "Tifinagh Revue";
	font-weight: lighter;
}

nav {
	position: fixed;
	right: 0;
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	pointer-events: none;
}
nav .subchapter {
	right: 0;
	width: 100%;
	height:100%;
}
nav .subchapter::before {
	content: "";
	position: absolute;
	right: 20px;
	border-top: 2px solid black;
	width: 20px;
}
nav .subchapter::after {
	content: "";
	position: absolute;
	right: 0;
	width: 20px;
	height: 100%;
	background-color: white;
	border-left: 2px solid black;
}
nav .firstsub::before {
	border-top: none;
}
nav .fullfilled::after {
	background-color: black;
}
nav .chap::before {
	width: 40px;
}
nav p {
	position: absolute;
	right: 75px;
	margin-top: -15px;
	border-bottom: 1px solid black;
	pointer-events: auto;
}
nav .chap p {
	font-family: "Garcia";
	font-size: 1rem;
}

#buttons-container {
	display:flex;
	justify-content: center;
	align-items: center;
}
#actions-buttons {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 400px;
	bottom: 25px;
}
#actions-buttons a img {
	height: 25px;
}


@media (min-width: 600px) {

	#phone-page {
		display: none;
	}

	#load-page, main {
		display: block;
	}

	#intro p {
		font-size: 1.25rem;
		line-height: 2rem;
		}
	#text-content p {
		font-size: 1rem;
		line-height: 2rem;
	}
	#text-table, #text-content {
		width: calc(100% - 170px);
	}
	#buttons-container {
		width: calc(100% - 170px);
	}
}

@media (min-width: 600px) and (orientation: portrait) {
	#intro {
		width: 50%;
	}
	#mediatable {
		width: 50%;
	}
	video {
		width: 100%;
	}
}

@media (min-width: 600px) and (orientation: landscape) {
	#mediatable {
		height: 75%;
	}
}

@media (min-width: 1025px) {

	#intro p, #text-content p {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}
	#mediatable {
		height: 90%;
	}
	#text-table, #text-content {
		width: calc(100% - 200px);
	}
	#buttons-container {
		width: calc(100% - 200px);
	}
}

.hide {
	display: none !important;
}

.show {
	display: flex !important;
}


@font-face {
	font-family: "Garcia";
	src: url("../fonts/garcia.woff2");
}

@font-face {
	font-family: "Cormorant";
	src: url("../fonts/cormorant-medium.woff2");
}

@font-face {
	font-family: "Cormorant italic";
	src: url("../fonts/cormorant-medium-italic.woff2");
}

@font-face {
	font-family: "Tifinagh Revue";
	src: url("../fonts/tifinagh_revue1.woff2");
}
